{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "comma-dangle": [0],
    "camelcase": [0]
  },
  "globals": {
    "test": true,
    "expect": true,
    "jest": true
  }
}
